html {
  background-color:aquamarine;
}
body {
  width: 60%;
  min-width: 360px;
  margin: auto;
  background: white;
}
input {
  margin: 20px;
  padding: 5px;
}
p {
  padding: 20px;
}

/* styles pour l'animation 
    ======================= */

#animation {             /* contient les deux vélos à animer */ 
  position: relative;	
  height: 220px;
  overflow: hidden;
}
#velo1, #velo2 {         /* contient toutes les images qui composent un vélo */
  position: absolute;
  width: 342px;
  height: 200px;
}
img {                    /* positionnement absolute de toutes les images dans la div animation */   
  position: absolute;
  display: block;
}
.velo {                  /* image du vélo sans les roues sur toute la largeur des div velo1 et velo2 */
  width: 100%;
}
.roue-arriere {          /* positionnement de la roue arrière dans un vélo */
  bottom: 8px;
  left: 8px;
  width: 122px;
}
.roue-avant {            /* positionnement de la roue avant dans un vélo */
  bottom: 8px;
  left: 209px;
  width: 122px;
}